.card  {
    height: 400px;
    text-overflow:ellipsis;
    overflow: hidden;
    background-color: antiquewhite;
    border-radius: 50px;
}

.box {
    min-height: 200px;
    min-width: 200px;
}

.border {
    border: 2px solid brown;
}

.header {
background-color: wheat;
}


img {width: 80%;
}
.col img {
    height: 200px;
    width: 200px;
}
.container {
    background-color: wheat;
}

a {
        text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    font-size:30px;
    transition: all 500ms;
    font-size-adjust: 20px;
}

button {
    border-radius: 50px;
    height: 50px;
}
button:hover {
    background-color: #ce4040;
    color:white;
    border: white;
}